<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/tailwindcss@0.3.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />

   
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>IZPIA S.L.</title>


</head>
<body>

{% block navbar %}


<nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">

    <div class="block lg:hidden">
        <button id='boton'
            class="flex items-center px-3 py-2 border rounded text-black-200 border-teal-400 hover:text-black hover:border-white">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
            </svg>
        </button>
    </div>
    <div id='menu' class="w-full block flex-grow lg:flex lg:items-center lg:w-auto text-center">
        <div class="text-sm lg:flex-grow ">
            <a href="/Clientes" class="block mt-4 lg:inline-block lg:mt-0 text-black-200 hover:text-white  mr-3">
                Clientes</a>
            </a>
            <a href="/Proveedores" class="block mt-4 lg:inline-block lg:mt-0 text-black-200 hover:text-white  mr-3">
                Proveedores
            </a>
            <a href="/Trabajadores" class="block mt-4 lg:inline-block lg:mt-0 text-black-200 hover:text-white mr-3">
                Trabajadores
            </a>

            <a href="/Productos" class="block mt-4 lg:inline-block lg:mt-0 text-black-200 hover:text-white mr-3">
                Productos
            </a>
            <a href="/Tareas" class="block mt-4 lg:inline-block lg:mt-0 text-black-200 hover:text-white mr-3">
                Tareas
            </a>
            <a href="/TrabajosRealizados" class="block mt-4 lg:inline-block lg:mt-0 text-black-200 hover:text-white mr-3">
                Trabajos Realizados
            </a>

            <a href="/Albaranes" class="block mt-4 lg:inline-block lg:mt-0 text-black-200 hover:text-white mr-3">
                Albaranes
            </a>

            <a href="/Obras" class="block mt-4 lg:inline-block lg:mt-0 text-black-200 hover:text-white mr-3">
                Obras
            </a>

            <a href="/UnidadMedida" class="block mt-4 lg:inline-block lg:mt-0 text-black-200 hover:text-white mr-3">
                Unidad Medida
            </a>

            <a href="/Estado" class="block mt-4 lg:inline-block lg:mt-0 text-black-200 hover:text-white mr-3">
                Estados
            </a>

        </div>

    </div>
</nav>


{% endblock %}

{% block content %}
<div class="container mx-auto mt-5 text-center" style="margin-top:25px">

    {% block contenido %}{% endblock %}
</div>

{% endblock %}
   <!--Muestra y oculta menú en pantallas pequeñas-->
<script>    
const menu = document.querySelector('#menu');
const boton = document.querySelector('#boton');
boton.addEventListener('click', () => {
    console.log("hola")
    menu.classList.toggle('hidden')
})
</script>
</body>
<footer class="text-center text-black py-4 "> Izpia S.L. <i class="fas fa-plug"></i>

</footer>
</html>