{% extends "base.html" %}
{% block title %}Trabajos Realizados{% endblock %}
{% block contenido %}

<body>

    <div class="container mx-auto py-4">
        <div class="text-green-700 font-bold">TRABAJO REALIZADO</div>

        <form action="" method="post" enctype="multipart/form-data">
            <div class="form-group">
                {{ form.csrf_token }}
                {%if trabajorealizado.idTrabajoRealizado != None%}
                <div class="grid grid-cols-1 md:grid-cols-6 grid-row-1 gap-3 py-3 text-black form-control">
                    {{form.Fecha.label(class="font-bold ")}}
                    {{form.Fecha  (class="text-black border border-green-200")}}
                    {{form.HoraInicio.label(class="font-bold ")}}
                    {{form.HoraInicio (class="text-black border border-green-200")}}
                    {{form.HoraFin.label(class="font-bold ")}}
                    {{form.HoraFin (class="text-black border border-green-200")}}
                    {{form.Descripcion.label(class="font-bold ")}}
                    {{form.Descripcion (class="text-black border border-green-200")}}
                    {{form.idObra.label(class=" font-bold") }}
                   {{ob.Nombre}}
                    {{form.idTrabajador.label(class=" font-bold")}}
                        {%for operario in operarios%}
                        {{operario.Nombre}}
                        {%endfor%}              

                {%else%}
                {{form.Fecha.label(class="font-bold ")}}
                {{form.Fecha(class="datepicker border border-green-200")}}
                {{form.HoraInicio.label(class="font-bold ")}}
                {{form.HoraInicio(class="timepicker border border-green-200")}}
                {{form.HoraFin.label(class="font-bold ")}}
                {{form.HoraFin(class="timepicker border border-green-200")}}
                {{form.Descripcion.label(class="font-bold ")}}
                {{form.Descripcion (class="text-black border border-green-200")}}
                {{form.idObra.label(class=" font-bold") }}
                {{form.idObra(class="form-control border border-green-200")}}
                {{form.idTrabajador.label(class=" font-bold") }}
                {{form.idTrabajador(class="form-control border border-green-200")}}


                {%endif%}

            </div>

            <!--BOTONES-->
            <div class="grid grid-flow-col grid-row-1 gap-2  m-2">
                {{form.submit(class="bg-transparent
                hover:bg-green-500 text-green-700
                font-semibold hover:text-white py-2 px-4
                border border-green-500 hover:border-transparent rounded")}}

                {{form.btn_cancel(class="bg-transparent
                hover:bg-green-500 text-green-700
                font-semibold hover:text-white py-2 px-4
                border border-green-500 hover:border-transparent rounded")}}

            </div>
        </form>
    </div>


</body>

{% endblock %}